<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="marvin,maar.vin,marvin,countryman">
        <meta name="description" content="marvin's personal website">
        <meta property="og:title" content="maar.vin - {{ title }}">
        <meta name="build-id" content="{{ build }}">
        <title>{{ title }}</title>
        <link rel="icon" href="/image/favicon.png" type="image/png" sizes="192x192">
        <link rel="icon" href="/image/favicon.svg" type="image/svg+xml">
        <link rel="stylesheet" href="/style/main.css">
        {{ head }}
    </head>
    <body>
        <header>
            <h1>
                <a href="/">maar.vin~</a>
            </h1>
            <hr>
            <nav>
                [<a href="/">home</a>]
                [<a href="/about">about</a>]
                [<a href="/work">work</a>]
                [<a href="/contact">contact</a>]
            </nav>
        </header>
        <hr>
        <main>
            {{ main }}
        </main>
        <hr>
        <footer>
            updated: {{ today }}
        </footer>
    </body>
</html>
