@import "../_mixins";
@import "../_variables";
/*
<article id="post">
  <h3 id="post-title">{this.props.title}</h3>
  <div id="post-date">{this.props.created_date}</div>
  <div id="post-content">
    <Markdown source={this.props.content}/>
  </div>
</article>
*/

#post {
  margin: 1rem;

  border: 1rem solid $color-black;

  #post-title {
    display: block;
    margin: 0;
    margin: 1rem;
  }

  #post-body {
    padding: 1rem;
    overflow: hidden;

    #post-date {
      text-align: right;
    }

    #post-content {
    }

    &:hover {
      background: $color-shadow;
    }
  }
}
