@import "_neat";
@import "../_mixins";
@import "../_variables";

#project {
  display: block;
  width: 15rem;
  height: 20rem;
  
  box-shadow: 0px 0px 0px 1px $color-shadow;
}

#project-header {
  display: block;
  margin: 1rem;
}

#project-content {}