$color-white: #dfdfdf;
$color-black: #000;
$color-accent: #ffffff;
$color-shadow: rgba(0, 0, 0, 0.2);
$color-highlight: rgba(255, 255, 255, 0.2);

$font-header: 'Playfair Display', serif;
$font-paragraph: 'Roboto', sans-serif;